node_modules/

video/b-roll/*
!video/b-roll/.keep

video/close-shot/*
!video/close-shot/.keep

video/medium-shot/*
!video/medium-shot/.keep

video/over-shoulder/*
!video/over-shoulder/.keep

video/wide-shot/*
!video/wide-shot/.keep

video/pov/*
!video/pov/.keep

video/all-videos.md


audio/*
!audio/.keep
output/*
!output/.keep
.DS_Store
temp/*
!temp/.keep

discovered_videos.json

.env
